body {
	background-color: #383838;
}

h1 {
	color: #E4E4E4;
}

.header {
	overflow: hidden;
	background-color: #1E1E1E;
	
}

.header a {
  	float: left;
  	color: #333333;
  	text-align: center;
  	padding: 12px;
  	text-decoration: none;
  	font-size: 25px; 
  	line-height: 25px;
  	border-radius: 4px;
}

.header .header-title {
	margin: 0px 0% 0px 40%;
	display: inline-block;
  	font-size: 100px;
  	font-weight: bold;
}

.header-right {
	float: right;
	margin-left: 10%;
	margin-right: 15%;
	margin-top: 24px;
}

.header a:hover {
	color: #E5C5C5;
}

.header a.active {
	font-weight: bold;
	color: #E24747;
}

@media screen and (max-width: 100vh) {
	.header .header-title {
		margin: 0px 70% 0px 30%;
		display: block;
	}
}