body {
  	margin: 0;
  	background-image: linear-gradient(black, white);
}

.links {
  	text-align: center;
  	background-image: url('imgers/oldschoolgifs/rainbowbanner.gif');
  	background-size: cover;
}

.links a {
  	text-decoration: none;
  	color: inherit;
}

.links > ul > li{
  	color: black;
  	font-size: 60px;
  	list-style-type: none;
  	display: inline;
  	padding-right: 3%;
}

ul li a:hover, ul li a:focus {
  	color:white;
}

h3 { 
	color: black;
	font-size: 50px;
}

h3:hover {
	background-color: gray;
}

.img-div {
	margin: 0;
	align-content: center;
	border-color: gray;
}

.gerg {
	border-color: white;
	border-width: 50px;
}

.facts {
	font-family: Arial, Verdana, sans-serif;
	color: black;
	background-color: gray;
	font-style: bold;
}

.facts-list {
	font-size: 20px;
	display: flex;
	justify-content: space-evenly;
}
