body {
  	margin: 0;
  	background-image: linear-gradient(white, black);
}

.links {
  	text-align: center;
  	background-image: url('imgers/oldschoolgifs/rainbowbanner.gif');
  	background-size: cover;
}

.links a {
  	text-decoration: none;
  	color: inherit;
}

.links > ul > li{
  	color: black;
  	font-size: 60px;
  	list-style-type: none;
  	display: inline;
  	padding-right: 3%;
}

ul li a:hover, ul li a:focus {
  	color:white;
}

h3 { 
	color: black;
	font-size: 50px;
}

h3:hover {
	background-color: gray;
}

/* END OF THE NAV BAR */

.logobox {
	width: 70%
	height: 100%;
	padding-left: 15%;
	padding-right: 15%;
}

.logo {
	width: 100%;
	height: 250px;
	margin: 0;
	padding: 0;
}

.img-div {
	margin: 0;
	align-content: center;
	border-color: gray;
}

.gerg {
	border-style: solid;
	border-color: #2e2e2e;
	border-width: 2px;
}



.facts {
	font-family: Arial, Verdana, sans-serif;
	color: white;
	border-style: solid;
	border-color: #fefefe;
	border-width: 5px;
}

.facts:hover {
	background-image: linear-gradient(black, #333333);
}

.facts-list {
	font-size: 20px;
	display: flex;
	justify-content: space-evenly;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
