body {
	background-image: url("imgers/gorgos/george.jpg");
	background-repeat: repeat;
}

::-webkit-scrollbar {
	background-color: green;
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: red;
}

::-webkit-scrollbar-button {
	background-color: yellow; 
}

::-webkit-scrollbar-corner {
	background-color: black;
}

.links {
  text-align: center;
  background-image: url('imgers/oldschoolgifs/rainbowbanner.gif');
}

.links a {
  text-decoration: none;
  color: inherit;
}

.links > ul > li{
  -webkit-text-stroke: 1px black;
  color: lightblue;
  text-shadow:
  3px 3px 0 #000,
  -2px -2px 0 #000,  
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
  font-style: bold;
  font-size: 50px;
  list-style-type: none;
  display: inline;
  padding-right: 3%;
}

ul li a:hover, ul li a:focus {
	color:red;
}

.logo:hover, .logo:focus {
	
}

.facts {
	font-family: Arial, Verdana, sans-serif;
	color: red;
	background-color: green;
	font-style: bold;
}

.facts-list {
	font-size: 20px;
	display: flex;
	justify-content: space-evenly;
}

.img-div {
	display: flex;
	flex-shrink: all;
	justify-content: space-evenly;
	justify-content: space-around;
	border-style: double;
	border-color: green;
	border-width: 50px;
}

.gerg {
	border-style: double;
	border-color: red;
	border-width: 50px;
}

h3 { 
	color: yellow;
	font-size: 75px;
}

h3:hover {
	background-color: blue;
}

.skelly {
	z-index: 999;
}

#box {
	display: flex;
    position: fixed;
    z-index: 99;
    justify-content: space-between;
    background-color: red;
}

#box:hover {
	animation-name: anim;
    animation-duration: 6s;
}

@keyframes anim {
	from {transform: rotateY(130deg);background-color: #ff3a3a;}
    to {transform: rotateY(45deg);background-color: #3838ff;}
}
