body {
  margin: 0;
  background-image: radial-gradient(black, white);
}

.links {
  text-align: center;
  background-image: url('imgers/oldschoolgifs/rainbowbanner.gif');
  background-size: cover;
}

.links a {
  text-decoration: none;
  color: inherit;
}

.links > ul > li{
  color: black;
  font-size: 60px;
  list-style-type: none;
  display: inline;
  padding-right: 3%;
}

ul li a:hover, ul li a:focus {
  color:white;
}

.gamecanvas {
  width: 100%;
  height: 100%;
  text-align: center;
}

canvas { 
  display: inline;
  background: #FFFFFF;
  margin-top: 1%;
  margin-bottom: 7.5%;
}